@import '../InputBar/inputbar.styl'

.feed
    // background: yellow
    overflow scroll
    width: calc(100% - 20px)
    flex-grow: 1
    margin-bottom: 10px
    border: 1px solid black
    border-radius: brad
    padding: 10px

    .no-messages
        color: #bbb
        width: 100%
        font-size: 20px
        margin-top: 100px
        text-align: center