@import '../../resources/colors.styl'
@import '../../resources/vars.styl'

.feed
    overflow-y: scroll
    scroll-behavior: smooth
    width: calc(100% - (10px * 2))
    flex-grow: 1
    margin-bottom: smallpad
    border-radius: brad
    padding: smallpad
    background: white

    .no-messages
        color: lightgray
        width: 100%
        font-size: 20px
        margin-top: 50px
        text-align: center