@import '../../resources/colors.styl'
@import '../../resources/vars.styl'
.top-bar
        display flex
        justify-content: space-between
        padding: 0 0 smallpad 0
        color: white

        *
            font-size: 20px
            font-weight: 200

        h2
            transition: 500ms
            transition-timing-function: ease
            position: relative

        .username-field
            display inline
            width: 40%
            outline: none
            border: none
            text-align: right
            background: transparent
            color: white

        .username-field::placeholder
            color:lightgray