.top-bar
        display flex
        justify-content: space-between
        padding: 0 0 10px 0

        *
            font-size: 20px
            font-weight: 200

        h2
            transition: 500ms
            transition-timing-function: ease
            position: relative

        .username-field
            display inline
            width: 40%
            outline: none
            border: none
            text-align: right