@import '../../misc/colors.styl'

.message-wrapper
    display grid
    width: calc(100% - 20px)
    padding 5px 10px
    // background: red

    .message-body
        display: grid
        justify-content: end
        max-width 60%

    .message-own
        justify-items: end
        justify-self: end
        .message-content
            background: accent
            // background: linear-gradient(120deg, rgb(199, 70, 146), rgb(160, 20, 124))
            border-bottom-right-radius: 2px

    .message-other
        justify-items: start
        justify-self: start
        .message-content
            background: lightgray
            // background: linear-gradient(120deg, rgb(167, 165, 167), rgb(111, 117, 119))
            border-bottom-left-radius: 2px

    .message-content
        position:relative
        display inline-block
        top: 5px
        padding: 12px
        border-radius: 15px
        color: white

    .message-username
        padding: 0 4px
        color: #555